@using Alquiler.BD.Data.Entidades
@using AlquilerNuevoPosta.Client.Servicios
@inject IHttpService http
@page "/Productos"


<a class="btn btn-primary" href="/hola">Nuevo alquiler</a>


<table>
    <tr>
        <th>Nombre</th>
        <td></td>
                <td></td>
        <td></td>
        <td></td>
        <th>  Precio</th>
        <td></td>
                <td></td>

        <th>  Detalle</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>  Estado</th>
    </tr>
    @if (productos==null )
    {
        <tr>Cargando......</tr>
    }
    else if (productos.Count ==0 )
    {
        <tr>No existen datos</tr>
    }
    else
    {
         @foreach (var item in productos )
        {
            <tr>

                <td>@item.NombreProducto</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@item.PrecioProducto</td>
                <td></td>
                <td></td>
                <td>@item.DetallesProducto</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>@item.Estado.Estados
            </tr>
        }   


    }
  </table>
    


  <table>
               <tr>
       <td></td>
        <td></td>
        <td></td>
        <th>  Fotos</th>
        <td></td>
        <td></td>
        <td></td>
         <td></td>
        <td></td>
        <td></td>
        <th>  Producto</th>
         <td></td>
        <td></td>
        <td></td>
    </tr>



      @if ( fotos==null)
    {
        <tr>Cargando......</tr>
    }
    else if ( fotos.Count ==0)
    {
        <tr>No existen datos</tr>
    }
    else
    {

         @foreach(var item in fotos)
         { <tr>
                <td>@item.Fotos</td>
                <td></td>    
                <td></td>
                <td></td>
                <td></td>
                <td></td>    
                <td></td>
                <td></td>
                <td></td>
                <td></td>@item.Producto.NombreProducto
                <td></td>
                <td></td>
                 <td></td>
           </tr>
         }
      }

      </table>



@code {
    List<Producto> productos;
    List<Foto> fotos;
    List<Estado> Estados;



    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
        await Leer1();
    }

    private async Task Leer()

    {

        var respuesta = await http.Get<List<Producto>>("api/Productos");
        
        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;
        }

    }

     private async Task Leer1()

    {

        var respuesta = await http.Get<List<Foto>>("api/Fotos");
        
        if (!respuesta.Error)
        {
            fotos = respuesta.Respuesta;
        }

    }




}
