@using Alquiler.BD.Data.Entidades
@inject NavigationManager navigatioManager
@using AlquilerNuevoPosta.Client.Servicios





<EditForm Model="producto" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />



        <label class="nombre">Nombre</label>
        <div class="txt1">

            <InputText class="form-control" @bind-Value="@producto.NombreProducto" />
            <ValidationMessage For="@(()=> producto.NombreProducto)" />
        </div>

        <label class="precio">Precio </label>
        <div class="txt2">

            <InputNumber class="form-control" @bind-Value="@producto.PrecioProducto" />
            <ValidationMessage For="@(()=> producto.PrecioProducto)" />
        </div>

        <label class="detalle">Detalle</label>
        <div class="txt3">

            <InputText class="form-control" @bind-Value="@producto.DetallesProducto" />
            <ValidationMessage For="@(()=> producto.DetallesProducto)" />
        </div>

      @*<label>Foto</label>
        <div>

           <InputText class="form-control" @bind-Value="@foto.Fotos" />
            <ValidationMessage For="@(()=> foto.Fotos)" />
        </div>*@


         <label class="foto">Url_Foto</label>
        <div class="txt4">

            <InputText class= "form-select" @bind-Value ="@producto.foto" /> 
               <ValidationMessage For="@(()=> producto.foto)" />
                
                              
        </div>

               <label class="estado">estado</label>
        <div class="txt5">

            <InputNumber class= "form-select" @bind-Value ="@producto.EstadoId" /> 
               <ValidationMessage For="@(()=> producto.EstadoId)" />
                
                              
        </div>

        
               <label class="categoria">Categoria</label>
        <div class="txt6">

            <InputNumber class= "form-select" @bind-Value ="@producto.CategoriaId" /> 
               <ValidationMessage For="@(()=> producto.CategoriaId)" />
                
                              
        </div>


   
    <div class="aceptar">
   <button type="submit" class="btn btn-primary" >Aceptar</button>
   </div>
   <div class="cancelar">
   <button  class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
   </div>

</EditForm>

@*<EditForm Model="estado">

           <label class="estado">Estado</label>
        <div class="txt4">

            <InputSelect @bind-Value="@producto.EstadoId" class="form-select" >
                @foreach (var item in estados)
            {
                <option value="@producto.EstadoId"></option>
            }

            </InputSelect>
                
                              
        </div>

    </EditForm>*@

@code {
    List<Estado> estados;
    [Parameter] public ProductoPublicado producto { get; set; }
    [Parameter] public Estado estado { get; set; }
    //[Parameter] public Foto foto { get; set; }
   // [Parameter] public Estado estado { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; 
}
    [Parameter] public EventCallback onCancel { get; set; }
}
