@using Alquiler.BD.Data.Entidades
@inject NavigationManager navigatioManager
@using AlquilerNuevoPosta.Client.Servicios

<style>

    .txt1{
    
    position: absolute;
    top: 380px;
    left: 404px;
    }

    .nombre{
    
    position: absolute;
    top: 355px;
    left: 408px;
    }
    .txt2{
    
    position: absolute;
    top: 527px;
    left: 404px;
    }

    .precio{
    
    position: absolute;
    top: 503px;
    left: 408px;
    }

    .detalle{
    
    position: absolute;
    top: 621px;
    left: 406px;

    }

    .txt3{
    
    position: absolute;
    top: 646px;
    left: 404px;

    }

    .txt4{
    position: absolute;
    top: 380px;
    left: 1115px;
    }

    .foto{
    position: absolute;
    top: 360px;
    left: 1128px;
    }

    .aceptar{
    position: absolute;
    top: 643px;
    left: 1257px;
    }

    .txt5
    {
        position: absolute;
        top: 527px;
        left: 1113px;
    }

    .estado{
        display: inline-block;
        position: fixed;
        top: 503px;
        left: 1123px;
    }


      .txt6
    {
        position: absolute;
        top: 527px;
        left: 1453px;
    }

    .categoria{
        display: inline-block;
        position: fixed;
        top: 503px;
        left: 1453px;
    }

    .cancelar{

    }

</style>



<EditForm Model="producto" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />



        <label class="nombre">Nombre</label>
        <div class="txt1">

            <InputText class="form-control" @bind-Value="@producto.NombreProducto" />
            <ValidationMessage For="@(()=> producto.NombreProducto)" />
        </div>

        <label class="precio">Precio </label>
        <div class="txt2">

            <InputNumber class="form-control" @bind-Value="@producto.PrecioProducto" />
            <ValidationMessage For="@(()=> producto.PrecioProducto)" />
        </div>

        <label class="detalle">Detalle</label>
        <div class="txt3">

            <InputText class="form-control" @bind-Value="@producto.DetallesProducto" />
            <ValidationMessage For="@(()=> producto.DetallesProducto)" />
        </div>




         <label class="foto">Url_Foto</label>
        <div class="txt4">

            <InputText class= "form-select" @bind-Value ="@producto.foto" /> 
               <ValidationMessage For="@(()=> producto.foto)" />
                
                              
        </div>

               <label class="estado">estado</label>
        <div class="txt5">

             <InputSelect class= "form-select" @bind-Value ="@producto.EstadoId"> 
            @foreach (var item in estados   )
           {
               <option value="@item.Id">@item.Estados</option>
           }

           </InputSelect>
               <ValidationMessage For="@(()=> producto.EstadoId)" />
                
                              
        </div>

        
               <label class="categoria">Categoria</label>
        <div class="txt6">

             <InputSelect class= "form-select" @bind-Value ="@producto.CategoriaId"> 
            @foreach (var item in categorias   )
           {
               <option value="@item.Id">@item.nombre</option>
           }

           </InputSelect>
               <ValidationMessage For="@(()=> producto.CategoriaId)" />
                              
        </div>


   
    <div class="aceptar">
   <button type="submit" class="btn btn-primary" >Aceptar</button>
   </div>
   <div class="cancelar">
   <button  class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
   </div>

</EditForm>



@code {
    
     static List<Estado> estados = new List<Estado>
    {
        new Estado{ Id= 1,Estados= "En envio"},
        new Estado{ Id= 2,Estados= "En Preparacion"},
        new Estado{ Id= 3,Estados= "En local"},
        new Estado{ Id= 4,Estados= "Entregado"}
    };

     static List<Categoria> categorias = new List<Categoria>
    {
        new  Categoria { Id= 1,nombre= "Electrodomestico"},
        new Categoria { Id= 2,nombre= "Herramienta"},
        new Categoria { Id= 3,nombre= "Tecnologia"},
        new Categoria { Id= 4,nombre= "Juguete"}
    };
    
    [Parameter] public ProductoPublicado producto { get; set; }
    [Parameter] public Estado estado { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; 
}
    [Parameter] public EventCallback onCancel { get; set; }
}
