@using Alquiler.BD.Data.Entidades
@inject NavigationManager navigatioManager
@using AlquilerNuevoPosta.Client.Servicios




<EditForm Model="persona" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <label >Nombre</label>
        <div class="txt1">

            <InputText class="form-control" @bind-Value="@persona.Nombre" />
            <ValidationMessage For="@(()=> persona.Nombre)" />
        </div>

        <label>Apellido </label>
        <div class="txt2">

            <InputText class="form-control" @bind-Value="@persona.Apellido" />
            <ValidationMessage For="@(()=> persona.Apellido)" />
        </div>

   

       <label >Contraseña</label>
        <div class="txt4">

            <InputText class= "form-control" @bind-Value ="@persona.Contraseña" /> 
               <ValidationMessage For="@(()=> persona.Contraseña)" />
               
                              
        </div>





        



        <br />
        <br />



    <div class="aceptar">
   <button type="submit" class="btn btn-primary" >Aceptar</button>
   </div>
      <br />
        <br />
   <div class="cancelar">
   <button  class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
   </div>

</EditForm>


@code {
     
    [Parameter] public Persona persona { get; set; }
    [Parameter] public TipoDocumento tipodocumentos { get; set; }
     [Parameter] public Direccion direcciones { get; set; }

   // [Parameter] public Cargo cargo { get; set; }
   // [Parameter] public Encargado encargado { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; 
}
    [Parameter] public EventCallback onCancel { get; set; }
}
