@using Alquiler.BD.Data.Entidades
@inject NavigationManager navigatioManager
@using AlquilerNuevoPosta.Client.Servicios




<EditForm Model="persona" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <label >Nombre</label>
        <div class="txt1">

            <InputText class="form-control" @bind-Value="@persona.Nombre" />
            <ValidationMessage For="@(()=> persona.Nombre)" />
        </div>

        <label>Apellido </label>
        <div class="txt2">

            <InputText class="form-control" @bind-Value="@persona.Apellido" />
            <ValidationMessage For="@(()=> persona.Apellido)" />
        </div>

        <label >DNI</label>
        <div class="txt3">

            <InputText class="form-control" @bind-Value="@persona.DNI" />
            <ValidationMessage For="@(()=> persona.DNI)" />
        </div>

   

       <label >Contraseña</label>
        <div class="txt4">

            <InputText class= "form-control" @bind-Value ="@persona.Contraseña" /> 
               <ValidationMessage For="@(()=> persona.Contraseña)" />
               
                              
        </div>


           <label>RepetirContraseña</label>
        <div class="txt5">

            <InputText class= "form-control" @bind-Value ="@persona.RepetirContraseña" /> 
               <ValidationMessage For="@(()=> persona.RepetirContraseña)" />
               
                              
        </div>

   
           <label>Mail</label>
        <div class="txt6">

            <InputText class= "form-control" @bind-Value ="@persona.Mail" /> 
               <ValidationMessage For="@(()=> persona.Mail)" />
               
                              
        </div>


               <label> Telefono</label>
        <div class="txt8">

            <InputText class= "form-control" @bind-Value ="@persona.NumeroTelefono" /> 
               <ValidationMessage For="@(()=> persona.NumeroTelefono)" />
               
                              
        </div>

        
               <label>Tipo documento </label>
        <div class="txt9">

            <InputNumber class= "form-select" @bind-Value ="@persona.TipoDocumentoId" /> 
               <ValidationMessage For="@(()=> persona.TipoDocumentoId)" />
               
                              
   </div>
    
     <label>Localidad</label>
        <div class="txt10">

            <InputNumber class= "form-select" @bind-Value ="@persona.DireccionId" /> 
               <ValidationMessage For="@(()=> persona.DireccionId)" />
               
                              
        </div>

        
             
              <label>Departamento  </label>
        <div class="txt12">

            <InputNumber class= "form-select" @bind-Value ="@persona.DireccionId" /> 
               <ValidationMessage For="@(()=> persona.DireccionId)" />
               
                              
        </div>


        
              <label>Provincia  </label>
        <div class="txt13">

            <InputNumber class= "form-select" @bind-Value ="@persona.DireccionId" /> 
               <ValidationMessage For="@(()=> persona.DireccionId)" />
               
                              
        </div>


        <br />
        <br />



    <div class="aceptar">
   <button type="submit" class="btn btn-primary" >Aceptar</button>
   </div>
      <br />
        <br />
   <div class="cancelar">
   <button  class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
   </div>

</EditForm>


@code {
     
    [Parameter] public Persona persona { get; set; }
    [Parameter] public TipoDocumento tipodocumentos { get; set; }
     [Parameter] public Direccion direcciones { get; set; }

   // [Parameter] public Cargo cargo { get; set; }
   // [Parameter] public Encargado encargado { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; 
}
    [Parameter] public EventCallback onCancel { get; set; }
}
